fastapi==0.115.12
uvicorn[standard]==0.34.2
SQLAlchemy==2.0.41
psycopg[binary]==3.2.9
pydantic-settings==2.9.1
celery==5.5.2
redis==6.2.0
httpx==0.28.1
python-multipart==0.0.20
passlib[bcrypt]==1.7.4
PyJWT==2.10.1
alembic==1.15.2
pwdlib[argon2]==0.2.1
pytest==8.3.5

reportlab==4.4.0

dnspython==2.7.0
